@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
}

#Content {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  margin: 20px;
  padding: 10px;
  background-color: lightgray;
  width: auto;
  height: 100px;
}
